---
- include: install_python.yml

- hosts: all
  become: true
  vars:
    apache_user: www-data
    apache_group: "{{ apache_user }}"
    wp_install_dir: /usr/share/wordpress
    wp_content_dir: "{{ wp_install_dir }}/wp-content"
  roles:
    - ansible-os-ubuntu-16
    - dhoeric.aws-ssm
    - role: cristian04.cloudwatch-monitoring
    # CloudWatch basic monitoring uses 5 minute intervals. Enhanced monitoring supports up to 1 minute intervals, but results in extra charges.
      cron_specs:
        - name: "Cloudwatch monitoring"
          minute: "*/5"
          hour: "*"
          job: "{{ cloud_watch_monitoring_path }}/aws-scripts-mon/mon-put-instance-data.pl --mem-util --mem-used --mem-avail --swap-util --swap-used --disk-space-util --disk-path={{ path }} --disk-space-avail --from-cron"
  tasks:

    # based on
    # https://groups.google.com/d/msg/ansible-project/iIcXrvyNysU/Pej62thzLfIJ
    - name: Check for required variables
      fail:
        msg: Variable '{{ item }}' is not defined
      when: item not in hostvars[inventory_hostname] or hostvars[inventory_hostname][item] == ""
      with_items:
        - db_host
        - db_name
        - db_user
        - db_pass

    # https://help.ubuntu.com/lts/serverguide/wordpress.html

    - name: Install WordPress
      apt:
        name:
          - python-mysqldb
          - wordpress

    - name: Configure WordPress
      template:
        src: config.php
        # https://superuser.com/a/559371/102684
        dest: /etc/wordpress/config-default.php
        owner: "{{ apache_user }}"
        group: "{{ apache_group }}"

    # https://help.ubuntu.com/community/WordPress#Install_WordPress
    - name: Fix permissions on WordPress directory
      file:
        path: "{{ wp_install_dir }}"
        owner: "{{ apache_user }}"
        group: "{{ apache_group }}"
        state: directory
        recurse: true

    - name: Configure Apache
      template:
        src: wordpress.conf
        dest: /etc/apache2/sites-available/wordpress.conf

    - name: Enable WordPress in Apache
      command: a2ensite wordpress

    - name: Restart Apache
      systemd:
        name: apache2
        state: restarted
